---
layout: archive
---

{{ content }}
<div class="banner-container">
  <img src="/assets/img/about-banner.png" alt="About Us">
</div>


<h1>Our Vision</h1>
In the TAT Lab, we engage in design and participatory inquiry to re-imagine collective futures. Responding to the
entangled troubles of advanced capitalism, climate crises, and systemic inequities, we embark on projects that put acts
of place making in conversation with accountability, authenticity, sustainability, and care. We contribute to systems
and technologies for people and communities that help build worlds infused with access, equity, and joy.


