---
layout: archive
---

<div class="header-img">
  <img src="/assets/img/logo.png" alt="">
</div>

<style>
  .author__content{visibility: hidden;}
  .author__urls-wrapper{visibility: hidden;}
</style>

<div class="header-welcome">
<p>Welcome to the Tactile and Tactical Design Lab (TAT Lab) at the University of Washington! We seek to open new
  opportunities for sustainable technology development, broaden the diversity of design and engineering education,
  and extend theoretical frameworks that further our understanding of design and social change.</p>
</div>

<h3 class="archive__subtitle">What's new at TAT Lab</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
